<div class="row">
	<div class="span8 offset2">
		<div id="log">
			<h1>Listing Messages</h1>
			<table class="table table-striped" id="message_list">
			<div id="first" last="<% if @messages.first != nil %><%= @messages.first.id%><% else %><%= -1 %><% end %>"></div>
			<tr class="header">
				<th>Message</th><th></th><th>Username</th><th>Posted</th>
			</tr>
			
    		<% @messages.each do |m| %>
    			<% if m.active == true %>
    			<tr>
    				<td><%= m.content %><td>
    				<td><%= m.username %></td>
    				<td><abbr class="timeago" title="<%= m.created_at.to_s().to_time.iso8601 %>" ><%= m.created_at.to_s(:db) %></abbr></td>
    			</tr>
    			<% end %>

    		<% end %>
			
			</table>
		</div>
	</div>
</div>
